body {
	background: #e2e2e2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Passion One', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

p,
ul,
ol,
input,
label,
textarea {
	font-family: 'Fira Code', monospace;
}

h3 {
	letter-spacing: 2px;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

section {
	width: 100%;
}

.container {
	margin: 0 auto;
}

.services .container {
	max-width: 1370px;
}

section.margin__remove {
	margin-bottom: 0;
}

.services--head,
.portfolio--head {
	background-color: #3c00d3;
}

.services--head {
	background-image: none;
}

.portfolio--head {
	background-image: none;
}

.section--head,
.services--head {

	h2,
	p {
		text-align: center;
		padding: 0 3rem;
	}

	h2 {
		padding: 0;
		color: #d7614e;
		line-height: normal;
		font-size: 5rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 30px;
		text-shadow: 2px 2px 2px #000;
	}

	p {
		color: #d7d7d7;
		font-size: 2rem;
		line-height: normal;
	}
}

/* Page Content */

.right--margin,
.left--margin {
	padding: 8rem 0;
}

/* Header */

header {
	position: relative;
	z-index: 10;
	overflow: hidden;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 50px 1fr 50px 60px;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.services--head {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.hipster-dood,
.hipster-chic,
.divider,
.divider--alt {
	display: none;
}

.img--logo {
	margin-bottom: 3rem;
}

.logo,
.intro--container {
	grid-column: 1 / span 3;
	grid-row: 1 / span 4;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
	flex-direction: column;
	padding: 50px;
	background: #d7614e;

	h1,
	p {
		text-align: center;
		text-transform: uppercase;
	}

	h1 {
		color: #fff;
		font-size: 3rem;
		padding-top: 0;
		text-shadow: 2px 2px 2px #000;
	}

	p {
		color: #262525;
		font-size: 2rem;
	}
}

h1 .fa-search {
	font-size: 2.4rem;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

/* Video */
.video--wrapper {
	position: relative;
	height: 2600px;
	width: 100vw;
}

#background_video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	height: 2600px;
	width: 100%;
}

#containerv {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
}

#video_cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #007d9f;
	background-size: cover;
	background-position: center;
}

#overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

/* Service Blocks */
.services {
	z-index: 2;
	position: relative;
	display: inline-block;
	top: 50%;
	padding: 8rem 0;
	transform: translateY(-50%);
}

.block--services__list {
	display: grid;
	grid-template: repeat(6, auto) / repeat(1, 1fr);
	grid-gap: 15px;
	padding: 0 10px;
}

.block--services__item {
	background: #fff;
	color: #fff;
	text-align: center;
	padding: 30px 25px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	transition: all 0.5s ease 0;

	&:nth-child(even) {
		background: #007d9f;
		background: linear-gradient(135deg, #007d9f 0%, #004f9f 100%);
	}

	&:nth-child(odd) {
		background: #d61c00;
		background: linear-gradient(135deg, #d61c00 0%, #d65c00 100%);
	}

	&:nth-child(even):hover {
		background: #007d9f;
		background: linear-gradient(135deg, #004f9f 0%, #007d9f 100%);
	}

	&:nth-child(odd):hover {
		background: #d61c00;
		background: linear-gradient(135deg, #d65c00 0%, #d61c00 100%);
	}

	span {
		display: inline-block;
		text-decoration: none;
		color: inherit;
	}

	.icon {
		font-size: 4rem;
		margin-bottom: 2.5rem;
		color: #d72f15;
		width: 90px;
		height: 90px;
		line-height: 96px;
		border-radius: 50px;
	}
}

.block--services__item .feature_box_col_one,
.block--services__item .feature_box_col_two,
.block--services__item .feature_box_col_three,
.block--services__item .feature_box_col_four,
.block--services__item .feature_box_col_five,
.block--services__item .feature_box_col_six {
	background: #002342;
	color: #d72f15;
}

.block--services__text {
	background: #002342;
	padding: 15px;
	border-radius: 10px;
	min-height: 148px;

	h3 {
		font-size: 3rem;
		margin-bottom: 20px;
		line-height: normal;
	}

	p {
		font-size: 1.8rem;
		line-height: normal;
	}
}

.block--services__item:hover {
	background: #d72f15;
	transition: all 0.5s ease 0s;
}

.block--services__item:hover .item,
.block--services__item:hover span.icon {
	background: #fff;
	border-radius: 10px;
	transition: all 0.5s ease 0s;
}

/* Portfolio */
.portfolio--full__width {
	background: #002342;
	padding: 10rem 0 5rem 0;
}

.portfolio {
	max-width: 1920px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0;
	grid-auto-flow: row;
	justify-items: center;
	background: #EBCAB9;

	div {
		padding: 3rem;
		border: 1px solid #dfdfdf;
		background: #f4f4f4;

		div {
			padding: 1rem 0 2rem 2rem;
			border-top: none;
			border-bottom: none;
			border-right: none;
			border-left: 20px solid #d72f15;
			background: none;
		}
	}

	h3 {
		color: #d72f15;
		padding: 10px;
		font-size: 2.6rem;
		text-transform: uppercase;
	}

	li {
		display: inline-block;
		padding: 10px;
		background: #ffffff;
		margin-bottom: 1rem;
	}

	img {
		border: 1px solid #dfdfdf;
	}

	a {
		color: #d72f15;
		padding: 10px;
		text-decoration: none;
	}
}

/* Footer */
footer {
	background: #007d9f;
	padding-bottom: 20px;

	h3,
	p,
	li a {
		color: #fff;
	}

	h3,
	p,
	ul {
		text-align: center;

	}

	h3,
	p {
		padding-top: 20px;

	}

	h3 {
		font-size: 2rem;
		text-transform: uppercase;
	}

	p {
		font-size: 1.5rem;
		font-family: 'Fira Code', monospace;
	}

	ul {
		width: 100%;
		margin-top: 20px;
		padding-left: 0px;
	}

	li {
		display: inline-block;
		margin: 4px;
	}

	li a {
		display: block;
		text-decoration: none;
		border-bottom: medium none;
		padding: 10px;
		border-radius: 10px;
		transition: all 0.3s ease-in 0s, all 1s ease 0s;
		background: #444749;
	}
}

footer .email:hover {
	background-color: #d72f15;
}

footer .linkedin:hover {
	background-color: #006db3;
}

footer .codepen:hover {
	color: #000;
	background-color: #fff;
}

footer .github:hover {
	background-color: #2ebc4f;
}

footer .dribbble:hover {
	background-color: #c32361;
}