/**
 * @section Base Styles
 */

html,
body {
	box-sizing: border-box;
	background: $color-cream;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

input,
textarea,
select,
button {
	font: inherit;
}

img {
	max-width: 100%;
}

.responsive-img {
	max-width: 100%;
	height: auto;
}

/* Fonts */
h1,
h2,
h3 {
	font-family: 'Passion One', sans-serif;
	letter-spacing: 2px;
}

h1 {
	font-size: 3rem;
	line-height: 3.4rem;
	padding: 0 30px;
}

h2 {
	font-size: 2.2rem;
	padding: 0 30px;
}

h3 {
	font-size: 1.8rem;
	padding: 0;
	margin: 0;
}

p,
ul,
ol {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.2rem;
}

ul {
	list-style-type: none;
}

/* Grid */

.menu,
.social,
.copyright,
.acknowledgements {
	background: $color-charcoal;
}

.featured-article,
.featured-article-list,
.blog-article {
	padding: 3rem 0;
}

.featured-article img {
	margin-bottom: 1rem;
}

.featured-article-content,
.featured-article-list,
.article-content {
	.article-right {
		padding: 0 0 0 2rem;
	}

	h1,
	h2 {
		padding: 0;
		margin: 0;
		text-transform: uppercase;
	}

	h1,
	h2,
	a,
	a:visited,
	a:active {
		color: $color-blue-denim;
	}

	h3,
	p,
	ul,
	ol {
		color: $color-charcoal;
	}

	a.continue,
	a.continue:visited,
	a.continue:active,
	.date {
		color: $color-cream;
		margin: 0;
		padding: 0;
	}

	a.continue,
	a.continue:visited,
	a.continue:active,
	.date {
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		padding: 10px 20px;
		border-radius: 5px;
		background: $color-charcoal;
	}
}

.connect h2,
.build h2,
.connect h3 {
	color: $color-cream;
}

.connect {
	background: $color-dark-red;
}

.build {
	background: $color-light-blue;
}

.connect-intro,
.build {
	text-align: center;
}

.connect h3 {
	text-transform: uppercase;
}

.connect-logos,
.build-logos {
	padding-bottom: 2rem;
}

.build-logos img {
	max-width: 80%;
}