body {
	background: #e2e2e2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Passion One', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

p,
ul,
ol,
input,
label {
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

h3 {
	letter-spacing: 2px;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

section {
	width: 100%;
}

.container {
	max-width: 1050px;
	margin: 0 auto;
}

.services .container {
	max-width: 1370px;
}

section.margin__remove {
	margin-bottom: 0;
}

.section--head {

	h2,
	p {
		text-align: center;
		padding: 0 3rem;
	}

	h2 {
		padding: 0;
		color: #d72f15;
		line-height: normal;
		font-size: 5rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	p {
		color: #000;
		font-size: 2.4rem;
		line-height: normal;
	}
}

.container,
.container--full__width {}

/* Page Content */

.section--head {
	padding: 15rem 0;
}

/* Service Blocks */

.services {
	padding: 8rem 0;
}

.block--services__list {
	display: grid;
	grid-template: repeat(6, auto) / repeat(1, 1fr);
	grid-gap: 50px;
	padding: 0 10px;
}

.block--services__item {
	background: #fff;
	color: #fff;
	text-align: center;
	padding: 30px 25px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	transition: all 0.5s ease 0;
}

.block--services__item span {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.block--services__item .icon {
	font-size: 4rem;
	margin-bottom: 2.5rem;
	color: #d72f15;
	width: 90px;
	height: 90px;
	line-height: 96px;
	border-radius: 50px;
}

.block--services__item .feature_box_col_one,
.block--services__item .feature_box_col_two,
.block--services__item .feature_box_col_three,
.block--services__item .feature_box_col_four,
.block--services__item .feature_box_col_five,
.block--services__item .feature_box_col_six {
	background: #002342;
	color: #d72f15;
}

.block--services__text {
	background: #002342;
	padding: 15px;
	border-radius: 10px;
	min-height: 148px;
}

.block--services__item h3 {
	font-size: 3rem;
	margin-bottom: 20px;
	line-height: normal;
}

.block--services__item p {
	font-size: 1.8rem;
	line-height: normal;
}

.block--services__item:hover {
	background: #d72f15;
	box-shadow: none;
	transition: all 0.5s ease 0s;
}

.block--services__item:hover .item,
.block--services__item:hover span.icon {
	background: #fff;
	border-radius: 10px;
	transition: all 0.5s ease 0s;
}

.block--services__item:hover h3,
.block--services__item:hover p {
	color: #fff;
	transition: all 0.5s ease 0s;
}

/* Portfolio */
.portfolio--full__width {
	background: #002342;
	padding: 10rem 0 5rem 0;
}

.portfolio {
	max-width: 1920px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0;
	grid-auto-flow: row;
	justify-items: center;

	div {
		padding: 3rem;
		border: 1px solid #dfdfdf;
		background: #f4f4f4;

		div {
			padding: 1rem 0 2rem 2rem;
			border-top: none;
			border-bottom: none;
			border-right: none;
			border-left: 20px solid #d72f15;
			background: none;
		}
	}

	h3 {
		color: #d72f15;
		padding: 10px;
		font-size: 2.6rem;
		text-transform: uppercase;
	}

	li {
		display: inline-block;
		padding: 10px;
		background: #ffffff;
		margin-bottom: 1rem;
	}

	img {
		border: 1px solid #dfdfdf;
	}

	a {
		color: #d72f15;
		padding: 10px;
		text-decoration: none;
	}
}