footer {
    background: #002342;
    padding-bottom: 20px;

    h3,
    p,
    li a {
        color: #fff;
    }

    h3,
    p,
    ul {
        text-align: center;

    }

    h3,
    p {
        padding-top: 20px;

    }

    h3 {
        font-size: 2rem;
        text-transform: uppercase;
    }

    p {
        font-size: 1.5rem;
        font-family: 'Fira Code', monospace;
    }

    ul {
        width: 100%;
        margin-top: 20px;
        padding-left: 0px;
    }

    li {
        display: inline-block;
        margin: 4px;
    }

    li a {
        display: block;
        text-decoration: none;
        border-bottom: medium none;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s ease-in 0s, all 1s ease 0s;
        background: #444749;
    }
}

footer .email:hover {
    background-color: #d72f15;
}

footer .linkedin:hover {
    background-color: #006db3;
}

footer .codepen:hover {
    color: #000;
    background-color: #fff;
}

footer .github:hover {
    background-color: #2ebc4f;
}