/* Grid markup */

.container {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 80px 1fr 1fr 80px;
    grid-template-columns: repeat(12, 1fr);
}

/* HEADER GRID */

.navigation {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column: span 12;
}

header {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column: span 12;
}

.menu,
.social {
    grid-column: span 1;
}

.header-block-left,
.header-block-right {
    grid-column: span 2;
}

/* Body Content */

.content-home {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-column: span 12;
}

.connect,
.build {
    grid-column: span 2;
}

.connect-logos,
.build-logos {
    display: grid;
}

.connect-logos {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.logo-linkedin {
    grid-column: span 2;
}

.build-logos {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.logo-gulp {
    grid-row: span 3;
}

/* Footer Grid */

footer {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column: span 12;
}

.copyright,
.acknowledgements {
    grid-column: span 1;
}