/* Grid markup */

/* Universal Grid Declaration */
.container,
.navigation,
header,
.featured-article,
.article-listing,
.featured-article-list article,
.content-home,
footer {
    display: grid;
    grid-gap: 5px;
}

.container {
    height: 100%;
    grid-template-rows: 80px 1fr 1fr 1fr 80px;
    grid-template-columns: repeat(12, 1fr);
}

/* HEADER GRID */

.navigation {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column: span 12;
}

header {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column: span 12;
}

.menu {
    grid-column: span 2;
}

.header-block-left,
.header-block-right {
    grid-column: span 2;
}

/* Body Content */

.featured-article {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 70% 1fr;
    grid-column: span 12;
}

.content-home {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-column: span 12;
}

/* Blog Archive & Post Grid */

.article-listing {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 70% 1fr;
    grid-column: span 12;
}

.featured-article-list article {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column: span 6;
}

/* Social Grid */

.connect,
.build {
    grid-column: span 2;
}

.connect-logos,
.build-logos {
    display: grid;
}

.connect-logos {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.logo-linkedin {
    grid-column: span 2;
}

.build-logos {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.logo-gulp {
    grid-row: span 3;
}

/* Footer Grid */

footer {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column: span 12;
}

.copyright,
.acknowledgements {
    grid-column: span 1;
}