/* Header */

header {
    position: relative;
    z-index: 10;
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 1fr 50px 60px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.hipster-dood,
.hipster-chic,
.divider,
.divider--alt {
    display: none;
}

.img--logo {
    margin-bottom: 3rem;
}

.logo {
    grid-column: 1 / span 3;
    grid-row: 1 / span 4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    flex-direction: column;
    padding: 50px;
    background: #d7614e;

    h1,
    p {
        text-align: center;
        text-transform: uppercase;
    }

    h1 {
        color: #fff;
        font-size: 3rem;
        padding-top: 0;
        text-shadow: 2px 2px 2px #000;

    }

    p {
        color: #262525;
        font-size: 2rem;
    }
}

h1 .fa-search {
    font-size: 2.4rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}