@media only screen and (min-width: 768px) {
    .content-home {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .connect,
    .build {
        grid-column: span 1;
    }
}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1390px) {

    .header-block-left,
    .header-block-right {
        grid-column: span 1;
    }

    .header-block-left {
        padding: 0;
    }

    header {
        grid-template-rows: 600px;
        grid-template-columns: 1fr 1fr;
    }

    .bg-header-left-block,
    .bg-header-right-block {
        width: 540px;
    }

    .content-home {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }

    .build-logos {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0em;
    }

    article {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column: span 6;
    }

    .blog-article article {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-column: span 6;
    }

}

@media only screen and (min-width: 2200px) {
    header {
        grid-template-rows: 460px 520px;
    }

    .header-block-left,
    .header-block-right {
        grid-column: span 2;
    }

    .connect,
    .build {
        grid-column: span 2;
    }
}