/* 768 and up */
@media screen and (min-width: 767px) {
    .block--services__list {
        grid-template: repeat(3, auto) / repeat(2, 1fr);
        padding: 0 50px;
    }

    .video--wrapper {
        height: 1300px;
    }

    #background_video {
        height: 1300px;
    }

    .logo h1 {
        font-size: 6rem;
    }

    h1 .fa-search {
        font-size: 4.4rem;
    }

    header {
        padding: 0;
    }

    .block--services__item h3 {
        font-size: 2rem;
    }
}

/* 1024 and up */
@media screen and (min-width: 1023px) {

    .hipster-dood {
        grid-column: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #007d9f;
        grid-row: 1 / span 4;
    }

    .logo {
        grid-column: 1 / span 2;

    }

    /* .hipster-chic {
        grid-column: 3;
        grid-row: 1 / span 4;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #d7614e;
    } */

    .portfolio {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1383px) {
    .block--services__list {
        grid-template: repeat(2, auto) / repeat(3, 1fr);
    }

    .video--wrapper {
        height: 100vh;
    }

    #background_video {
        height: 100vh;
    }

    .services--head .container,
    .portfolio--head .container {
        width: 1240px;
    }

    .right--margin {
        margin: 0 0 0 auto;
    }

    .left--margin {
        margin: 0 auto 0 0;
    }

    /* .services--head {
        background-image: url('../img/img--background__linesLeft.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

    .portfolio--head {
        background-image: url('../img/img--background__linesRight.png');
        background-repeat: no-repeat;
        background-position: center center;
    } */

    .services--head h2,
    .services--head p {
        text-align: right;
        padding: 0;
    }

    .portfolio--head h2,
    .portfolio--head p {
        text-align: left;
        padding: 0;
    }

    /* .section--head {
        max-width: 600px;

    } */
}